<div class="row columns">
  <form class="" action="index.html" method="post">
    {{select-dropdown list=model.genres model=genre}}
    {{select-dropdown list=yearsList model=year}}
    <button type="button" name="button" {{action "submit"}} class="button">Discover</button>
  </form>
  <ul class="no-bullet flex-column">
    {{#each movies.results as |item|}}
    <li>
      {{#link-to "movie.detail" item.id}}
        {{movie-card-compact item=item}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>

  {{tmdb-pager model=movies params=params }}


</div>
