<h1>Movie Detail</h1>
<img src="{{image-path movie.poster_path}}" alt="">
<h2>{{movie.title}}</h2>
{{movie.vote_average}}
<ul class="menu simple">
  {{#each movie.genres as |item|}}
  <li><span class="label secondary">{{link-to item.name "genre" item.id }}</span></li>
  {{/each}}
</ul>
<p>{{movie.tagline}}</p>
<h4>Overview</h4>
<p>{{movie.overview}}</p>

<button type="button" name="button" class="button" {{action "addToFavorites" movie}}>Add to Favorites</button>
{{#each userService.user as |item|}}
  {{item.id}}
{{/each}}
<h4>Cast</h4>
<ul>
  {{#each cast as |item|}}
  <li>{{link-to item.name "actor" item.id }}</li>
  {{/each}}
</ul>

<h4>Similar</h4>
<ul class="no-bullet flex-column">
  {{#each similar as |item|}}
  <li>
    {{#link-to "movie.detail" item.id }}
      {{movie-card item=item}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>

<h4>Recommendations</h4>
<ul class="no-bullet flex-column">
  {{#each recommendations as |item|}}
  <li>
    {{#link-to "movie.detail" item.id }}
      {{movie-card item=item}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
