  <div class="top-bar">
    <div class="top-bar-title">
      <strong>Movie Database</strong>
    </div>
      <div class="top-bar-left">
        <ul class="menu">
          <li>{{link-to "Now Playing" "movie" "now-playing"}}</li>
          <li>{{link-to "Popular" "movie" "popular"}}</li>
          <li>{{link-to "Top Rated" "movie" "top-rated"}}</li>
          <li>{{link-to "Upcoming" "movie" "upcoming"}}</li>
        </ul>

      </div>
      <div class="top-bar-right">

        <ul class="menu">
          <li>
            {{#if session.isAuthenticated}}
              Logged in as {{session.currentUser.displayName}}
              <button {{action "signOut"}} class="button">Sign out</button>
            {{else}}
              <a data-open="exampleModal">Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
  </div>

{{#zf-reveal id="exampleModal" overlay=true}}

  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}} class="button">Sign out</button>
  {{else}}
    <button {{action "signIn" "google"}} class="button">Sign in with Facebook</button>
  {{/if}}

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
{{/zf-reveal}}


<div class="container">
  {{outlet}}
</div>
