  <div class="top-bar">
    <div class="top-bar-title">
      <strong>Movie Database</strong>
    </div>
      <div class="top-bar-left">
        <ul class="menu">
          <li>{{link-to "Now Playing" "movie" "now-playing"}}</li>
          <li>{{link-to "Popular" "movie" "popular"}}</li>
          <li>{{link-to "Top Rated" "movie" "top-rated"}}</li>
          <li>{{link-to "Upcoming" "movie" "upcoming"}}</li>
        </ul>

      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
  </div>



<div class="container">
  {{outlet}}
</div>
